body {
    background-color:rgba(255,170,51,10%) ;}

.text11 { height: 200px; width: 60%;
        
    background: #fff;
    border:  solid  black 2px;
    padding: 10px;
    
}

.text2  { height: 200px; width: 60%;
        
    background: #fff;
    border:  dashed  black 2px;
    padding: 10px;
}
.text22 {border: dashed red 2px;}

.text3  { height: 200px; width: 60%;
        
    background: #fff;
    border:  dashed  black 2px;
    padding: 10px;
}
