.grid { 
    display: grid;
    grid-template-columns: repeat(12,20px) ;
    grid-template-rows: 20px repeat(4,80px) 20px;
    width: 100% ;
    height: 700px;
    gap: 5px 10px;
    justify-content: center;
    align-content: center;
    }




